body
{
    font-family: verdana;
}

div.flash
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid forestgreen;
    width: 500px;
    text-align: center;
    padding: 10px;
}

span.empty
{
    font-weight: bold;
    color: blue;
}

span.lang
{
    font-size: smaller;
    color: green;
}

a.delete
{
    color: red;
}

a.edit
{
    color: mediumpurple;
}

span.links
{
    font-size: xx-small;
}